.messy-layout {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.messy-layout > div:first-child {
  width: 60%;
}

.messy-layout > div:last-child {
  flex-grow: 1;
  flex-shrink: 1;
}

@media (max-width: 1024px) {
  .messy-layout {
    flex-direction: column;
  }
  .messy-layout > div:first-child {
    width: 100%;
  }
  .messy-layout > div:last-child {
    width: 100%;
  }
}
